<footer class="bg-gris-oscuro footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 text-center text-lg-start order-1 order-lg-0">
                <i class="fa-regular fa-copyright blanco"></i>
                <span class="ms-1 ms-lg-3 texto-base blanco">Desarrollado por: Web developers Beetles 7042 4770</span>
            </div>

            <div class="col-lg-2 d-flex-center order-0 order-lg-1 mb-4 mb-lg-0">
                <img src="assets/imgs/citricos-blanco.svg" [alt]="textosAlternativosEnum.LOGO_CITRICOS"
                    class="img-fluid h-30px">
                <a [href]="redesSocialesEnum.FACEBOOK" target="_blank"> <i
                        class="fa-brands fa-facebook ms-4 fa-2x blanco"></i></a>
                <a [href]="redesSocialesEnum.INSTAGRAM" target="_blank"><i
                        class="fa-brands fa-instagram ms-4 fa-2x blanco"></i></a>
            </div>
        </div>
    </div>
</footer>