.h-320px {
  height: 320px;
}

.h-30px {
  height: 30px;
}

.line-height-2-5rem {
  line-height: 2.5rem;
}

@media (min-width: $sm-width) {
  .h-sm-500px {
    height: 500px;
  }
}

@media (min-width: $lg-width) {
  .border-left-lg-gris-oscuro {
    border-left: 1px solid $gris-oscuro;
  }
}
