.btn-basic {
  height: auto;
  white-space: break-spaces;
  border-radius: 0;
}

.btn-anaranjado-formulario {
  @extend .btn-basic;
  padding: 0.5rem 1rem;
  background-color: $anaranjado;
  color: $blanco;
  
  &:hover {
    background-color: $anaranjado;
    color: $blanco;
    background-color: darken($anaranjado, 10%);
  }
}

@media (min-width: $sm-width) {
  .btn-anaranjado-formulario {
    width: 12.5rem;
    /* equivale a 200px */
  }
}
