/* Colors */
.negro {
  color: $negro;
}

.verde {
  color: $verde;
}

.blanco{
    color: $blanco;
}

.anaranjado{
    color:$anaranjado;
}

.blanco-suave{
    color:$blanco-suave;
}

.gris-oscuro{
    color:$gris-oscuro;
}

/* Backgrounds-color */

.bg-negro {
    background-color: $negro;
}

.bg-verde {
    background-color: $verde;
}

.bg-blanco {
    background-color: $blanco;
}

.bg-anaranjado {
    background-color: $anaranjado;
}

.bg-blanco-suave {
    background-color: $blanco-suave;
}

.bg-gris-oscuro {
    background-color: $gris-oscuro;
}


