html,
body {
  font-family: "Roboto", sans-serif !important;
  font-size: 16px;
  /* Porque es la medida que mas se usa entre los elementos del diseno */
}

.nav-link {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.footer {
  padding: 2.125rem 0 2.125rem 0; /* 34px 120px */
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-controls {
  width: 1.5rem; /* 40px */
}

@media (min-width: $md-width) {
  .carousel-controls {
    width: 3.75rem; /* 60px */
  }
}

.hr-solid {
  border-left: 3px solid var(--blanco);
  height: 35px;
  opacity: 1;
}

.hr-solid-black-15px {
  @extend .hr-solid;
  border-left: 1px solid var(--negro);
  height: 15px;
}

.bg-base {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-nosotros {
  @extend .bg-base;
  background-image: url("/assets/imgs/ondas-de-color-gris.webp");
}

.bg-contactenos {
  @extend .bg-base;
  background-image: url("/assets/imgs/un-grupo-de-naranjas.webp");
}

.fa-instagram {
  transition:all .3s ease-in-out;
  &:hover {
    color: $negro;
    transition:all .3s ease-in-out;
  }
}

.fa-facebook {
  transition:all .3s ease-in-out;
  &:hover {
    color: $negro;
    transition:all .3s ease-in-out;
  }
}
