.texto-base {
  font-size: 1rem;
  line-height: 1.25rem; /* equivale a 20px */
  font-weight: 400;
}
.titulo {
  font-size: 2rem; /* equivale a 32px */
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.parrafo {
  text-align: justify;
  font-size: 1rem; /* equivale a 16px */
  font-family: "Roboto", sans-serif;
}

.alert{
  font-size: 2rem; /* equivale a 16px */
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

@media (min-width: $sm-width) {
  .titulo {
    font-size: 2.875rem; /* equivale a 46px */
  }
}
