/* Variables de CSS */
:root {
  --negro: #090a0a;
  --verde: #4ab043;
  --blanco: #ffffff;
  --anaranjado: #f37a21;
  --blanco-suave: #f5f5f5;
  --gris-oscuro: #6c757d;
  --instagram: #d300c5;
  --facebook: #1877f2;

  --xs-width: 0;
  --sm-width: 576px;
  --md-width: 768px;
  --lg-width: 992px;
  --xl-width: 1200px;
  --xxl-width: 1400px;
}

/* Variables de SCSS */
$negro: #090a0a;
$verde: #4ab043;
$blanco: #ffffff;
$anaranjado: #f37a21;
$blanco-suave: #f5f5f5;
$gris-oscuro: #6c757d;
$instagram: #d300c5;
$facebook: #1877f2;

/* medidas de tablets */
$tablet-width: 550px;

/* Puntos de quiebre comunes en dispositivos */
$xs-width: 0;
$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;
$xxl-width: 1400px;
