<header class="fix-fixed-top">
  <nav class="navbar navbar-expand-lg bg-verde fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img
          src="assets/imgs/logo/logo-citricos.svg"
          [alt]="textosAlternativosEnum.LOGO_CITRICOS"
          class="d-inline-block align-text-top logo"
          loading="lazy"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul
          class="navbar-nav ms-auto d-flex align-items-lg-center justify-content-lg-center"
        >
          <li class="nav-item me-lg-4 d-flex-center">
            <a
              class="nav-link blanco"
              aria-current="page"
              href="javascript:void(0)"
              (click)="scrollToElement(idsSeccionesHomeEnum.SECCION_NOSOTRODS)"
              >Nosotros</a
            >
          </li>
          <hr class="d-none d-lg-flex me-lg-4 hr-solid" />
          <li class="nav-item mb-3 mb-lg-0 me-lg-4 d-flex-center">
            <a
              class="nav-link blanco"
              href="javascript:void(0)"
              (click)="scrollToElement(idsSeccionesHomeEnum.SECCION_CONTACTO)"
              >Contacto</a
            >
          </li>
          <hr class="me-4 d-none d-lg-flex hr-solid" />
          <li class="nav-item mb-3 mb-lg-0 me-lg-4 d-flex-center">
            <a [href]="redesSocialesEnum.FACEBOOK" target="_blank"
              ><i class="fa-brands fa-facebook fa-2x blanco"></i
            ></a>
          </li>
          <hr class="d-none d-lg-flex hr-solid" />
          <li class="nav-item ms-lg-4 mb-3 mb-lg-0 d-flex-center">
            <a [href]="redesSocialesEnum.INSTAGRAM" target="_blank"
              ><i class="fa-brands fa-instagram fa-2x blanco"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
