<header>
    <nav class="navbar navbar-expand-lg bg-verde">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="assets/imgs/logo/logo-citricos.svg"
                    alt="Logo cítricos santa fe donde se muestra que la letra 'o' de cítricos es una naranja y la primera i de la palabra santa es una hoja de naranjo."
                    class="d-inline-block align-text-top logo" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto d-flex align-items-lg-center justify-content-lg-center">
                    <li class="nav-item">
                        <a class="nav-link blanco" aria-current="page" href="#">Nosotros</a>
                    </li>
                    <app-divider class="d-none d-lg-flex" />
                    <li class="nav-item">
                        <a class="nav-link blanco" href="#">Contacto</a>
                    </li>
                    <app-divider class="me-3 d-none d-lg-flex" />
                    <li class="nav-item me-lg-3">
                        <i class="fa-brands fa-facebook fa-2x blanco"></i>
                    </li>
                    <app-divider class="d-none d-lg-flex" />
                    <li class="nav-item ms-lg-3 mt-3 mt-lg-0">
                        <i class="fa-brands fa-instagram fa-2x blanco"></i>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>